<div class="hero-foot">
  <nav class="tabs is-right">
    <a href="https://github.com/viethung7899/shortify" target="_blank">
      <span class="icon is-small">
        <i class="fab fa-github"></i>
      </span>
      <span>Developed by Viet Hung Nguyen</span>
    </a>
  </nav>
</div>