<div class="hero-head">
  <header class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <div class="navbar-item title is-3"><a href="/" class="has-text-white">Shortify</a></div>
      </div>
    </div>
  </header>
</div>